<configuration>
  <location path="index.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="productions.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="tour dates.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/production-tour-dates.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="meettheteam.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="news.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/news.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="links.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/links.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="contactus.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/contact-us.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Christmas-Gothic.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/christmas-gothic/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Dalloway.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MarilynMonroe.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Austens.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Elizabeth.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AdamandEve.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FemaleGothic.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/index.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/technical-rider.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/I,ELIZABETH press release final.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="CGsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/christmas-gothic/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="CGgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/christmas-gothic/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Dalloway 2015 Press release.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="DWtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/technical-rider.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="DWBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="DWReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="DWsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="DWgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/THE UNREMARKABLE DEATH OF MARILYN MONROE press release 2014.docx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MMtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/technical-rider.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MMBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MMReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MMsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="MMgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Agallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AWsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AWReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AWBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AWtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/technical-rider.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/AUSTEN'S WOMEN press release final.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
  
  <location path="AEsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/THE DIARIES OF ADAM AND EVE press release final.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AEBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AEgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AEtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/technical-rider.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="AEReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/FEMALE GOTHIC press release 2012.docx">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FGtechrider.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FGBios.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/our-team.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FGReviews.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/show-reviews.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FGsuggestedcopy.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/suggested-copy.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="FGgallery.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/gallery.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Website - Austen's Women Press Release.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/press-release.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Website - AUSTEN'S WOMEN tech rider (DP Sept 2010).doc">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="disclaimer.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/I ELIZABETH Touring Tech Rider 2015.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/IE LX PLAN 2014.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/lx-plan.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Dalloway Tech Rider 2015.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/DallowayLXPLAN.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/lx-plan.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Dalloway LX cue sheet 2015 FINAL.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/dalloway/cue-sheet.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/The Unremarkable Death of Marilyn Monroe Tech Rider 2015.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/MMLXPLAN.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/lx-plan.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Marilyn Monroe LX cue sheet 2014 COLOUR.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/unremarkable-death-marilyn-monroe/cue-sheet.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/AUSTEN'S WOMEN Touring Tech Rider 2014.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/austens-women/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEReviews_uk2010.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/show-reviews-uk.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="IEReviews_AD2011.html">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/i-elizabeth/show-reviews-adelaide.php" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/The Diaries of Adam &amp; Eve Tech Rider 2011.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/diaries-adam-eve/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/Female Gothic Tech Rider FINAL 2013.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/technical-rider.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>

  <location path="Web Images/FG LX PLAN 2014.pdf">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://www.dyadproductions.com/theatre-productions/female-gothic/lx-plan.pdf" httpResponseStatus="Permanent" />
    </system.webServer>
  </location>
</configuration>